/***** Navigation *****/
.navbar-brand {
	width: 90px;
	height: 90px;
	text-align: center;
	padding:0;
}

.navbar-brand img { margin: 30px auto; }

button.navbar-toggle { margin-top: 28px; }

.navbar-default {
	border: none;
	margin-bottom: 0;
}

.navbar-header .navbar-brand:hover { background-color: red; }

.navbar-default .navbar-nav>li>a { color: #fff; }

.navbar-default .navbar-nav>li>a:hover { color: #ccc; }
/***** End Navigation *****/

.content img {
	width: auto;
	height: 140px;
	background-color: aliceblue;
}

.content img:hover {
	cursor:pointer;
}


/********** Filter Styles ****************/
.filter {
	border-top: solid 1px #666;
	border-bottom: solid 1px #666;
	margin-bottom: 20px;;
}

.filter ul {
	list-style: none;
	padding: 0;
}

.filter li {
	padding: 5px 0 5px 30px;
	border-bottom: solid 1px #ccc;
}

.filter li:last-child {
	border: none;
}

.filter li:hover { cursor: pointer;}

.filter .dropdown li { padding: 10px 10px 10px 40px; }

.filter li a { color: #000; }

.filter li a:hover { text-decoration: none; }

/******** Filter Styles End *************/

.content h3 { font-size: 12px;}

.products { padding-bottom: 30px;}

/************* Modal Style ***************/
#modal_image {
	background: #ccc;
	min-width: 100px;
	min-height: 100px;
	max-width: 300px;
	border:solid 1px #999;
}

.modal-body h5 {
	margin-bottom: 0;
	color: #666;
}
/*********** Modal Style END *************/

/*********** Footer *******************/
footer {
	padding-top: 20px;
}

footer ul {
	list-style: none;
	padding: 0;
}
.social_media li {
	background-image :url('../img/footer-social-icons.gif');
	background-repeat: no-repeat;
	height: 31px;
	width: 31px;
	display: inline-block;
	margin-right: 10px;
}

.social_media li:last-child{ margin-right:0;}

li.fb { background-position: -21px 0; }
li.twitter { background-position: -91px 0; }
li.pintrest { background-position: -161px 0; }
li.instagram { background-position: -230px 0; }
li.youtube { background-position: -300px 0; }
li.gplus { background-position: -367px 0; }
li.tumblr { background-position: -415px 0; }


.social_media li a{
	width: 100%;
	height: 100%;
	display: block;
}

.newsletterEmail {
	width: 60%;
	border-radius: .3em;
	padding: 10px;
	font-size: 14px;
	color: #666;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

footer .btn {
	height: 45px;
	margin:-2px 0 0 -5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

footer .footerLinks { text-transform: uppercase; }

footer .footerLinks h3 {
	border-top: solid 2px #999;
	padding-top: 15px;
}

footer .footerLinks li { width: 100%; }

footer .caret {
	border-top: 10px dashed;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}

footer .company .caret { margin-left: 125px;}
footer .create .caret { margin-left: 35px;}
footer .service .caret { margin-left: 8px;}
/************ Footer End **************/

footer .btn:hover,
nav .navbar-brand:hover { background: #e1382b; }

footer .btn:hover { color: #fff;}

/******************************
*********** Utilites **********
******************************/

.u-blk-bg {
	background-color: #000;
}

.u-white-bg {
	background-color: #fff;
}

.u-red-bg {
		background-color: #d52b1e;
}

.u-white-text {
	color: #fff;
}

.u-grey-text {
	color: #ccc;
}


@media screen and (min-width: 768px) {
	nav .navbar-nav li {
		margin-top: 20px;
	}
	.content h3 { font-size: 11px;}

	.filter li {
		border: none;
		padding-left: 10px;
	}

	.filter .dropdown li { padding-left: 10px;}

	footer .footerLinks h3 { border: none;}

	footer .caret { display: none;}
}
